version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user_desa
      POSTGRES_PASSWORD: password_desa
      POSTGRES_DB: db_desa
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://user_desa:password_desa@db:5432/db_desa

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
